/amazon_clone.css
/amazon_clone.html
/attribute.css
/attribute.html
/background.html
/block.html
/class.css
/class.html
/contact.jpg
/element.css
/element.html
/everything.css
/everything.html
/font.html
/home.html
/id.css
/id.html
/images
/NETFLIX1.css
/NETFLIX1.html
/new1.html
/page2.html
/payment_form.html
/style
/videos
/xyz