*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    padding: 0;
    
}
body{
    background: black;
    color: white;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid rgba(41, 40, 40, 0);
    cursor: pointer;
}

.background-image{
     height: 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/netflix-imagebackground.jpg);
     background-size:cover;
     background-position: center;
     position: relative;
     
}

.top{
    width: relative;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.netflix-logo svg{
    fill: #e50914;
    height: 40px;
}

.logo{
    width: 50%;
    margin-top: 15px;
    padding-left:2.5rem;
}

.lang{
    margin-top:10px;
    height: 32px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;  
    
}

.lang button{
    background-color: #e50914;
    margin-right: 50px;
    height: 32px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;   
    font-size:1rem;
    
}

.lang select{
    background-color: transparent;
    color: white;
    height: 32px;
    padding: 5px;  
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 30%;
    font-size:1rem;
}

.center{
    flex-basis: 50%;
    height: 300px;
    text-align: center;
    margin: 10%;
}

.line1{
    margin: 1rem 0 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.line2{
    margin: 1rem 0 0;
    font-size: 1.8rem;
    font-weight: 650;
}


.line3{
    margin: 1rem 0 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.lastbutton button{
    margin: 1rem 0 0;
    letter-spacing: 0!important;
    background-color: #e50914;
    height: 55px;
    width:250px;
    border-style: solid;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    font-size: x-large;
}

.margin{
    height:0.5rem;
    background-color: rgb(35,35,35);
}

.downpart{
    height: 600px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    
}

.part{
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0px 32px;
}

.content{
    height:163px;
    width: 600px;
    padding: 0px 6px 0px 0px;
    
}

.image{
    height: 450px;
    width: 50%;
    background-size: cover;
}

.content h2{
    font-size: 2rem;
    font-weight: 700;
    height: auto;
    font-size: 45px;
    
}

.content p{
    margin: 1rem 0 0;
    font-size: 1.125rem;
    font-weight: 400;
    height: 55px;
}

/* -------------------FAQ------------------ */

.faq{
    height: 785px;
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
}

.faq h2{
    display: block;
    font-size: 40px;
    font-weight: 900;
    text-align: center;

}

.questions{
    display: block;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-left: 18%;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 750px;

      
}

.questions li{
    list-style: none;
    padding: 5px;
    width: 800px;
}

.questions li label{
    padding: 24px;
    display: block;
    text-align: left;
    background-color: rgb(45, 45, 45);
    cursor: pointer;
    width: 900px;
  
}


.questions .content1 {
    margin-top: 1px;
    background-color: rgb(45, 45, 45);
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .content1 p{
    padding: 24px;
  }

input[type="radio"]:checked + label + .content1 {
    max-height: 600px;
    display: block;
  }

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

/* --------last finish sgn up button------- */

.finishbutton{
    background-color: #e50914;
    color: white;
    cursor: pointer;
    height: 55px;
    width:200px;
    border-style: solid;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    font-size: x-large;
}

/* --------------------FOOTER------------------- */

footer{
    font-size: 16px;
    font-weight: 400;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 72px;
    margin-bottom: 72px;
    height: 300px;
} 

.questionsline{
    margin-bottom: 12px;
    color: rgb(160, 155, 155);
    margin-left: 11rem;
}

.questionsline a{
    text-decoration: underline;
    cursor: pointer;
}

.footer-panel2{
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    text-decoration: underline;
    color: rgb(160, 155, 155);
    margin-top: 16px;
    margin-left: 12px;
    cursor: pointer;

}

.icon{

        margin-top:10px;
        margin-left: 6px;
        height: 32px;
        width: 30%;
        display: flex;
        justify-content: space-evenly;  
        padding-top: 6px;
        border-color: white;

}

.icon select{
    background-color: transparent;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
    padding-right: 10px;
    font-size: 16px;
 
}

.netflixname{
    display: flex;
    padding-top: 20px;
    padding-left: 11rem;
    font-weight: 400;
    color: rgb(160, 155, 155);
}


  
